.downloadInput {
  width:100%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left:-300px;
  margin-top:-60px;
  box-sizing: border-box;
}

.downloadInput-up {
  width:100%;
  position: fixed;
  left: 50%;
  margin-left:-300px;
  margin-top:40px;
  box-sizing: border-box;
}

#insPicInput {
	box-sizing: border-box;
  display: inline-block;
  float:left;
  margin:0;
  width: 40%;
}

.button {
  background-color: #4CAF50;
  border: none;
  border-radius:8px;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0;
  cursor: pointer;
  width:5%;
}

.downloaded-img {
  display: block;
  width:30%;
  height:40%;
  margin-top:20px;
  margin-left:8%;
	box-sizing: border-box;
  outline-style: solid;
}
