.tutorial-background {
  width: 100%;
  height: 100%;
}

.tutorial {
  width: 45%;
  height: 45%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}
